<%- include("../partials/header") %>

<h1>New Cluck</h1>

<form action="/articles" method="POST">
  <div>
    <input type="text" name="title" placeholder="Whatchu Cluckin Bout?">
  </div>

  <div>
    <textarea
      name="content"
      cols="50"
      rows="10"
      placeholder="What are your thoughts?"
    ></textarea>
  </div>

  <input type="submit" value="Create Article">
</form>

<%- include("../partials/footer") %>